.gridHas__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .3s ease;
    }

    &:has(img:hover) img:not(:hover) {
        scale: .8;
        opacity: .7;
    }
}