@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.netflix__container {
    font-family: "Poppins", sans-serif;
    background: #000;

    header {
        // position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}